<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body bgcolor="#5F6A6A">
    <table bgcolor="black" width="1400" style="font-family:Georgia, Garamond, Serif;color:black;font-style:italic;">
      <th><h2><a href=/fridge ></a></h2>
              {% if user %}

              <h2><a href="{{logout_url}}">Logout</a></h2>
              {% else %}
              <h2><a href="{{login_url}}"><center>Login</center></a></h2>
              {% endif %} <th>
    <th><h2> <a href=/ >Home</a></h2></th>
    <th><h2> <a href=/fridge >Fridge</a></h2></th>
    <th><h2> <a href=/shopping_list >Shopping List</a></h2></th>
    <th><h2> <a href=/recipe >Recipes</a></h2><th>
    <th><h2> <a href=/about >About</a></h2></th>

    </table>
        <h1 style="font-family:Georgia;color:black;text-align:center;font-size:50px;">About</h1>
        <br>
        <br>
        <br>
        <br>
      <p class='about' style="text-align:center;color:white;font-size:25px;">My Fridge was created for everyday grocery shoppers like you!<br><br>
        We designed My Fridge to be simple and straightforward.<br><br>
        To get the best out of the My Fridge, every time you get groceries as soon as you get home list the groceries in the<br><br> My Fridge app to get the most out of the app's features.</p>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <p class='about' style="text-align:center;color:white;font-size:12px;"> Created By:
      Filip Maldonado <br>
      Maia Boyd <br>
      Nicholas Depies<br>
      Sydney Perez
    </p>
  </body>
</html>
