<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class='fridge_pic' bgcolor="#E9EEED">

    <div>

    <table bgcolor="black" width="1400" style="font-family: 'Amatic SC', cursive;color:black;">
      <th><h2><a href=/fridge ></a></h2>
              {% if user %}
              <h2><a href="{{logout_url}}">Logout</a></h2>
              {% else %}
              <h2><a href="{{login_url}}"><center>Login</center></a></h2>
              {% endif %} <th>
    <th><h2> <a href=/ >Home</a></h2></th>
    <th><h2> <a href=/fridge >Fridge</a></h2></th>
    <th><h2> <a href=/shopping_list >Shopping List</a></h2></th>
    <th><h2> <a href=/recipe >Recipes</a></h2><th>
    <th><h2> <a href=/about >About</a></h2></th>

    </table>

    </div>
    {% if user %}
    <h1 class='fridge_header'><center>Welcome to your Fridge {{user.email()}}</center></h1>
    {% else %}
    <h1 class='fridge_header'><center>Welcome to your Fridge</center></h1>
    {% endif %}

{% if user %}
    <!-- <a href=/fridge ></a> -->

<div style='float: left;width:410px;' padding: 0 842px>
<form method="post">

        <h4 class='food_titles' style="color:black; font-family: 'Amatic SC', cursive;">Food</h4>


       <input type="checkbox" name="food_name" value="bacon" style="color:white;">Bacon<br> </li>
       <input type="checkbox" name="food_name" value="sausage" style="color:white;">Sausage<br> </li>
        <input type="checkbox" name="food_name" value="turkey" style="color:white;">Turkey<br></li>
        <input type="checkbox" name="food_name" value="chicken" style="color:white;">Chicken<br></li>
       <input type="checkbox" name="food_name" value="steak" style="color:white;">Steak<br></li>
          <input type="checkbox" name="food_name" value="ground beef" style="color:white;">Ground Beef<br></li>
          <input type="checkbox" name="food_name" value="strawberries" style="color:white;">Strawberries<br></li>
          <input type="checkbox" name="food_name" value="bananas" style="color:white;">Bananas<br></li>
          <input type="checkbox" name="food_name" value="mangos" style="color:white;">Mangos<br></li>
          <input type="checkbox" name="food_name" value="pineapples" style="color:white;">Pineapples<br></li>
          <input type="checkbox" name="food_name" value="apples" style="color:white;">Apples<br></li>
          <input type="checkbox" name="food_name" value="blueberries" style="color:white;">Blueberries<br></li>
          <input type="checkbox" name="food_name" value="flour" style="color:white;">Flour<br></li>
          <input type="checkbox" name="food_name" value="sugar" style="color:white;">Sugar<br></li>
          <input type="checkbox" name="food_name" value="baking soda" style="color:white;">Baking Soda<br></li>
          <input type="checkbox" name="food_name" value="baking powder" style="color:white;">Baking Powder<br></li>
          <input type="checkbox" name="food_name" value="asparagus" style="color:white;">Asparagus<br></li>
          <input type="checkbox" name="food_name" value="avacado" style="color:white;">Avacado<br></li>
          <input type="checkbox" name="food_name" value="beer" style="color:white;">Beer<br></li>
          <input type="checkbox" name="food_name" value="carrots" style="color:white;">Carrots<br></li>
          <input type="checkbox" name="food_name" value="catfish" style="color:white;">Catfish<br></li>
          <input type="checkbox" name="food_name" value="corn" style="color:white;">Corn<br></li>
          <input type="checkbox" name="food_name" value="eggs" style="color:white;">Eggs<br></li>
          <input type="checkbox" name="food_name" value="ginger" style="color:white;">Ginger<br></li>
      </div>

        <div style='float: left;width:410px;' padding: 0 842px>
          <br>
          <br>
          <br>
          <br>
          <br>


        <input type="checkbox" name="food_name" value="grapes" style="color:white;">Grapes<br>
        <input type="checkbox" name="food_name" value="jelly" style="color:white;">Jelly<br>
        <input type="checkbox" name="food_name" value="ketchup" style="color:white;">Ketchup<br>
        <input type="checkbox" name="food_name" value="milk" style="color:white;">Milk<br>
        <input type="checkbox" name="food_name" value="yogurt" style="color:white;">Yogurt<br>
        <input type="checkbox" name="food_name" value="salt" style="color:white;">Salt<br>
        <input type="checkbox" name="food_name" value="water" style="color:white;">Water<br>
        <input type="checkbox" name="food_name" value="unsalted butter" style="color:white;">Unsalted Butter<br>
        <input type="checkbox" name="food_name" value="vinegar" style="color:white;">Vinegar<br>
        <input type="checkbox" name="food_name" value="bread" style="color:white;">Bread<br>
        <input type="checkbox" name="food_name" value="heavy whipping cream" style="color:white;">Heavy Whipping Cream<br>
        <input type="checkbox" name="food_name" value="instant yeast" style="color:white;">Instant yeast<br>
        <input type="checkbox" name="food_name" value="garlic salt" style="color:white;">Garlic Salt<br>
    
        <input type="checkbox" name="food_name" value="honey" style="color:white;">Honey<br>
        <input type="checkbox" name="food_name" value="shortening" style="color:white;">Shortening<br>
        <input type="checkbox" name="food_name" value="powdered sugar" style="color:white;">Powdered Sugar<br>
        <input type="checkbox" name="food_name" value="avacado oil" style="color:white;">Avacado Oil<br>
        <input type="checkbox" name="food_name" value="buttermilk" style="color:white;">Buttermilk<br>
        <input type="checkbox" name="food_name" value="olive oil" style="color:white;">Olive Oil<br>
        <input type="checkbox" name="food_name" value="brown sugar" style="color:white;">Brown Sugar<br>
        <input type="checkbox" name="food_name" value="white vinegar" style="color:white;">White Vinegar<br>
        <input type="checkbox" name="food_name" value="vegetable oil" style="color:white;">Vegetable Oil<br>
        <input type="checkbox" name="food_name" value="coconut oil" style="color:white;">Coconut Oil<br>
        <input type="checkbox" name="food_name" value="greek yogurt" style="color:white;">Greek Yogurt<br>

        <br>
        <input type="submit" name="" value="Submit" />
</form>
</div>




<div style='float: left' >
<h1 style="color:black; font-family: 'Amatic SC', cursive">Items in Fridge</h1>
<form class="" action="/delete_food" method="post">
  <table cellspacing='25'>
    <tr>
      <th style="color:black; font-family: 'Amatic SC', cursive">Name</th>
      <th style="color:black; font-family: 'Amatic SC', cursive">Delete?</th>
    </tr>
    {% for each_food in food %}
    <tr>
      <td>{{each_food.name}}</td>
      <td><input type="checkbox" name="to_delete" value="{{each_food.key.urlsafe()}}"></td>
    </tr>
    {% endfor %}
    </table>


  <input type="submit" name="" value="Delete Selected">
</form>
</div>
{% else %}

  <h2 style="font-family: 'Amatic SC', cursive;color:black;text-align:left; font-size: 30px;"> Please Log in to View the Fridge</h2>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
{% endif %}
  </body>
</html>
