<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="utf-8">
    <title></title>
    <STYLE>A {text-decoration: none;} </STYLE>
  </head>
  <body>

<div >

<table bgcolor="#ff9900" width="1400" style="font-family:Georgia, Garamond, Serif;color:black;font-style:italic;">
<th><h2> <a href=/fridge >Fridge</a></h2></th>
<th><h2> <a href=/shopping_list >Shopping List</a></h2></th>
<th><h2> <a href=/recipe >Recipes</a></h2><th>
<th><h2> <a href=/about >About</a></h2></th>
</table>


<a href=/fridge ></a>
</div>
<p>Hello<p>
<h2>asfg<a href=/fridge ></a></h2>

        {% if user %}
        <h1>User is {{user.email()}}</h1>
        <a href="{{logout_url}}">Logout</a>
        {% else %}
        <a href="{{login_url}}">Login</a>
        {% endif %}



  </body>
</html>
