<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="utf-8">
    <title></title>
    <STYLE>A {text-decoration: none;} </STYLE>
  </head>
  <body class='home_pic'>

<div>
  <div class="text-glow">

     <a href="#">

       <table bgcolor="#ff9900" width="1400" style="font-family: 'Amatic SC', cursive; color:white;">

     </a>

  </div>

<table bgcolor="black" width="1400" style="font-family: 'Amatic SC', cursive;color:black;">
  <th><h2><a href=/fridge ></a></h2>
          {% if user %}
          <h2><a href="{{logout_url}}">Logout</a></h2>
          {% else %}
          <h2><a href="{{login_url}}"><center>Login</center></a></h2>
          {% endif %} <th>
<th><h2> <a href=/ >Home</a></h2></th>
<th><h2> <a href=/fridge >Fridge</a></h2></th>
<th><h2> <a href=/shopping_list >Shopping List</a></h2></th>
<th><h2> <a href=/recipe >Recipes</a></h2><th>
<th><h2> <a href=/about >About</a></h2></th>

</table>


<!-- <a href=/fridge ></a> -->
</div>
<div class="title-glow">

   <a href="/">

    <h1 style="font-family: 'Amatic SC', cursive;white; text-align:center; font-size:285px;"><a href="/fridge">My Fridge</h1>

    <!-- <h1 class='title';color:black><center> My Fridge </center></h1> -->
   </a>

</div>
  </body>
</html>
