<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body bgcolor="#5F6A6A">



    <div>

    <table bgcolor="black" width="1400" style="font-family:Georgia, Garamond, Serif;color:black;font-style:italic;">
      <th><h2><a href=/fridge ></a></h2>
              {% if user %}

              <h2><a href="{{logout_url}}">Logout</a></h2>
              {% else %}
              <h2><a href="{{login_url}}"><center>Login</center></a></h2>
              {% endif %} <th>
    <th><h2> <a href=/ >Home</a></h2></th>
    <th><h2> <a href=/fridge >Fridge</a></h2></th>
    <th><h2> <a href=/shopping_list >Shopping List</a></h2></th>
    <th><h2> <a href=/recipe >Recipes</a></h2><th>
    <th><h2> <a href=/about >About</a></h2></th>

    </table>

      <h1 style="font-family:Georgia;color:black;text-align:center;font-style:italic; font-size:50px;">Recipes</h1>


    </div>

<table>
  <tr>
    <th>Name</th>
    <th>Ingredients</th>
    <th>Instructions</th>
  </tr>
  {% for each_recipe in recipes_list %}
  <tr>
    <td>{{each_recipe["name"]}}</td>
  </tr>
  {% endfor %}
</table>


<!--h2 style="color:white;"> Recommended Recipes </h2>

<h2 style="font-family:Georgia;color:black;font-style:italic; font-size: 40px">Recommended Recipes</h2>
<ul style="list-style-type:circle; font-family: Georgia; font-size: 20px">

  <li>Recipe one:  </li>
  <li>Recipe two: </li>
  <li>Recipe three: </li>
  <li>Recipe four: </li>
  <li>Recipe five: </li>
</ul-->



  </body>
</html>
