<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>

    <table bgcolor="black" width="1400" style="font-family:Georgia, Garamond, Serif;color:black;font-style:italic;">
      <th><h2><a href=/fridge ></a></h2>
              {% if user %}

              <h2><a href="{{logout_url}}">Logout</a></h2>
              {% else %}
              <h2><a href="{{login_url}}"><center>Login</center></a></h2>
              {% endif %} <th>
    <th><h2> <a href=/ >Home</a></h2></th>
    <th><h2> <a href=/fridge >Fridge</a></h2></th>
    <th><h2> <a href=/shopping_list >Shopping List</a></h2></th>
    <th><h2> <a href=/recipe >Recipes</a></h2><th>
    <th><h2> <a href=/about >About</a></h2></th>

    </table>
    </div>
    {% if user %}
    <h1 class='fridge_header'><center>Welcome to your Shopping List {{user.email()}}</center></h1>
    {% else %}
    <h1 class='fridge_header'><center>Welcome to your Shopping List</center></h1>
    {% endif %}

    <!-- <a href=/fridge ></a> -->
<div style='float: left;width:610px;' padding: 0 842px>
<form method="post">

        <h4 class='food_titles'>What would you like to add to your shopping list?</h4>

        <input type="checkbox" name="food_name" value="bacon">Bacon<br>
        <input type="checkbox" name="food_name" value="sausage">Sausage<br>
        <input type="checkbox" name="food_name" value="turkey">Turkey<br>
        <input type="checkbox" name="food_name" value="chicken">Chicken<br>
        <input type="checkbox" name="food_name" value="steak">Steak<br>
        <input type="checkbox" name="food_name" value="ground beef">Ground Beef<br>
        <input type="checkbox" name="food_name" value="strawberries">Strawberries<br>
        <input type="checkbox" name="food_name" value="bananas">Bananas<br>
        <input type="checkbox" name="food_name" value="mangos">Mangos<br>
        <input type="checkbox" name="food_name" value="pineapples">Pineapples<br>
        <input type="checkbox" name="food_name" value="apples">Apples<br>
        <input type="checkbox" name="food_name" value="blueberries">Blueberries<br>
        <input type="checkbox" name="food_name" value="flour">Flour<br>
        <input type="checkbox" name="food_name" value="sugar">Sugar<br>
        <input type="checkbox" name="food_name" value="baking soda">Baking Soda<br>
        <input type="checkbox" name="food_name" value="baking powder">Baking Powder<br>
        <br>
        <input type="submit" name="" value="Submit" />
</form>
</div>


<div style='float: left' >
<h1>Items in Shopping List</h1>
<form class="" action="/delete_food" method="post">
  <table cellspacing='25'>
    <tr>
      <th>Name</th>
      <th>Delete?</th>
    </tr>
    {% for each_food in food %}
    <tr>
      <td>{{each_food.name}}</td>
      <td><input type="checkbox" name="to_delete" value="{{each_food.key.urlsafe()}}"></td>
    </tr>
    {% endfor %}
    </table>


  <input type="submit" name="" value="Delete Selected">
</form>
</div>

  </body>
</html>
