<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body bgcolor="#E9EEED">
    <div>

    <table bgcolor="black" width="1400" style="font-family: 'Amatic SC', cursive;color:black;">
      <th><h2><a href=/fridge ></a></h2>
              {% if user %}

              <h2><a href="{{logout_url}}">Logout</a></h2>
              {% else %}
              <h2><a href="{{login_url}}"><center>Login</center></a></h2>
              {% endif %} <th>
    <th><h2> <a href=/ >Home</a></h2></th>
    <th><h2> <a href=/fridge >Fridge</a></h2></th>
    <th><h2> <a href=/shopping_list >Shopping List</a></h2></th>
    <th><h2> <a href=/recipe >Recipes</a></h2><th>
    <th><h2> <a href=/about >About</a></h2></th>

    </table>
    </div>
    {% if user %}
    <h1 class='fridge_header'><center>Welcome to your Shopping List {{user.email()}}</center></h1>
    {% else %}
    <h1 class='fridge_header'><center>Welcome to your Shopping List</center></h1>
    {% endif %}

    <!-- <a href=/fridge ></a> -->
<div style='float: left;width:610px;' padding: 0 842px>
<form method="post">

        <h4 class='food_titles' style="color:black; font-family: 'Amatic SC', cursive" >What would you like to add to your shopping list?</h4>

        <input type='text' name="grocery_name" value=""><br>

        <br>
        <input type="submit" name="" value="Submit" />
</form>
</div>


<div style='float: left' >
<h1 style="color:black; font-family: 'Amatic SC', cursive">Items in Shopping List</h1>
<form class="" action="/delete_grocery" method="post">
  <table cellspacing='25'>
    <tr>
      <th style="color:black; font-family: 'Amatic SC', cursive">Name</th>
      <th style="color:black; font-family: 'Amatic SC', cursive">Delete?</th>
      <th style="color:black; font-family: 'Amatic SC', cursive">Did you buy this item?</th>
    </tr>
    {% for each_grocery in grocery %}
    <tr>
      <td>{{each_grocery.name}}</td>
      <td><input type="checkbox" name="to_delete" value="{{each_grocery.key.urlsafe()}}"></td>
      <td><input type="checkbox" name="to_add" value="{{each_grocery.key.urlsafe()}}"></td>
    </tr>
    <tr>

    {% endfor %}
    </table>


  <input type="submit" name="delete" value="Delete Selected">
  <input type="submit" name="add" value="Add to Fridge">
</form>
</div>

  </body>
</html>
